body {
  border-radius: 20px;
  margin: 0%;
  background-color: #345830;
}
section {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 2vh 2vw 2vh 2vw;
}

article {
  box-shadow: inset 2px 4px 4px #000000;
  display: flex;
  flex-direction: column;
  font-family: "Reem Kufi";
  position: relative;
  width: 15vw;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
  background-color: #4a7856;
  border-radius: 25px;
}
#CenterArticle {
  width: 25vw;
}
article img {
  border-radius: 25px;
  position: relative;
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0px 4px 8px #000000);
  width: 95%;
}
#CenterImgArticle {
  max-width: 75%;
  padding-bottom: 1vh;
}
article p {
  padding: 1vh 1vw 1vh 1vw;
  font-size: 15;
  filter: drop-shadow(0px 4px 8px #000000);
}

header {
  position: absolute;
  left: 29%;
  font-family: "Reem Kufi";
  border-radius: 15px;
  background-color: #4a7856;
  text-align: center;
  border-style: solid;
  border-width: 8px;
  border-color: #1a1f16;
  color: white;
  width: 38vw;
  height: 15vh;
  filter: drop-shadow(0px 4px 8px #000000);
  z-index: 2;
}
#AmericaImgFlag {
  width: 30vw;
  height: 25vh;
  position: relative;
  max-width: 100%;
  margin-top: 8.5%;
  height: auto;
  filter: drop-shadow(0px 4px 8px #000000);
  border-radius: 15px;
  z-index: 1;
}

header > div {
  display: inline-block;
  position: relative;
  align-self: center;
  top: 8%;
  background-color: #1a1f16;
  width: 95%;

  height: 82.5%;
}

header h1 {
  display: inline;
  position: relative;
  bottom: 7.5%;
  text-align: center;
  font-size: 86px;
}
nav {
  width: 100%;
  margin: none;
  filter: drop-shadow(0px 4px 8px #000000);
  background-color: #1e3f20;
}
.imageButton {
  width: 5vw;
  height: 8vh;
  vertical-align: middle;
  margin-left: 3vw;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: 5vw 8vh;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  filter: drop-shadow(0px 4px 6px #000000);
}
#UsaButton {
  background-image: url(././images/USA.png);
  width: 10vw;
  height: 8vh;
  alt: USA;
  background-size: 10vw 8vh;
}
#UkButton {
  background-image: url(././images/UK.svg);
  alt: UK;
}
#RussiaButton {
  background-image: url(././images/Russia.png);
  alt: Russia;
}
#FranceButton {
  background-image: url(././images/France.png);
  alt: France;
}
#ItalyButton {
  background-image: url(././images/italy.png);
  alt: France;
  margin-left: 8.5%;
}
#JapanButton {
  background-image: url(././images/japan.png);
  alt: France;
}
#GermanyButton {
  background-image: url(././images/Germany.webp);
  alt: France;
}
.normalButton {
  font-family: "Reem Kufi";
  vertical-align: middle;
  display: inline-flex;
  box-shadow: inset 0px 4px 4px #000000;
  border-radius: 15px;
  padding: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 1px;
  padding-bottom: 1px;
  transform: translateX(5vw);
  font-size: 48px;
  color: white;
  background-color: #4a7856;
}
